<div>
	<%= link_to 'Agregar producto', new_controladora_almacen_producto_path(@controladora, @almacen) %>
</div>
<div>	
	<%= link_to 'Agregar material', new_controladora_almacen_material_path(@controladora, @almacen) %>
</div>